html,
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #0a5efb;
}

*,
::before,
::after {
  box-sizing: border-box;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.eventNone {
  pointer-events: none;
}

.flex {
  display: flex;

  &.row {
    flex-direction: row;
  }
  
  &.column {
    flex-direction: column;
  }

  &.justify {

    &-start {
      justify-content: flex-start;
    }
    
    &-center {
      justify-content: center;
    }
    
    &-end {
      justify-content: flex-end;
    }

    &-between {
      justify-content: space-between;
    }

    &-around {
      justify-content: space-around;
    }
  }

  &.align {

    &-start {
      align-items: flex-start;
    }

    &-center {
      align-items: center;
    }

    &-end {
      align-items: flex-end;
    }
  }

  &.wrap {
    flex-wrap: wrap;
  }
}
